* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Fira Sans", sans-serif;
  font-size: 20px;
  letter-spacing: 0.8px;
  min-height: 100dvh;
  color: #d8e9ef;
  background-image: linear-gradient(-20deg, #ffdced 0%, #ef9087 100%);
  background-size: cover;
}

h1 {
  margin: 0 auto 5px auto;
  color: #ffffff;
  font-size: 3rem;
  align-content: center;
  justify-content: center;
  display: flex;
  font-family: "Anton SC", serif;
  font-weight: 600;
  font-style: normal;
}

p {
  margin: 0;
  font-family: "Anton SC", serif;
  font-weight: 700;
  font-style: normal;
}

.container {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app-container {
  /* width: 250px; */
  /* width: 16%; */
  /* height: 420px; */
  margin: 40px auto;
  text-align: center;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 29px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  padding: 2em 5em 3em;
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-container:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.app-message {
  color: #f9f9f9;
  height: 20px;
  margin: 10px auto 20px auto;
  font-family: "Anton SC", serif;
  font-weight: 400;
  font-style: normal;
}

.app-circle {
  position: relative;
  margin: 0 auto;
  width: 200px;
  height: 200px;
}

.circle-shape {
  pointer-events: none;
}

.semi-circle {
  position: absolute;
  width: 100px;
  height: 200px;
  box-sizing: border-box;
  border: solid 6px;
}

.left-side {
  top: 0;
  left: 0;
  transform-origin: right center;
  transform: rotate(0deg);
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  border-right: none;
  z-index: 1;
}

.right-side {
  top: 0;
  left: 100px;
  transform-origin: left center;
  transform: rotate(0deg);
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-left: none;
}

.circle {
  border-color: #f1eded;
}

.circle-mask {
  border-color: #ffffff;
}

.app-counter-box {
  font-family: "Droid Sans Mono", monospace;
  font-size: 300%;
  position: relative;
  top: 66px;
  color: #ffffff;
}

hr {
  /* position: relative;
  top: 7.5rem; */
  width: 100%;
  border-top: 3px solid #ffffff;
  margin-top: 1rem;
}

.control {
  display: flex;
  justify-content: center;
  gap: 15px; /* Space between buttons */
  margin-top: 20px;
}

button {
  /* position: relative; */
  width: 100px;
  top: 8rem;
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
  background: none;
  outline: none;
  color: #d8e9ef;
  /* font-size: 15px; */
  font-weight: bold;
  padding: 10px 14px;
  border-radius: 20px; /* Rounded edges */
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  color: #90c0d1;
  transform: scale(1.1); /* Slightly increase size */
  filter: brightness(1.1);
}

button:disabled {
  cursor: not-allowed;
  background-color: #c9c9c9;
  color: #7c7c7c;
}

/* Active (click) effect */
button:active {
  transform: scale(1.05);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Individual button styles */
#btn-start,
#btn-pause,
#btn-reset {
  background-color: #ffffff;
  color: #a9abac;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* ----- Media Queries ------- */

@media (max-width: 520px) {
  .app-container {
    margin: 0;
  }

  h1 {
    margin: 0;
  }

  hr {
    width: 70vw;
  }
}

@media (max-width: 250px) {
  html {
    font-size: 16px;
  }

  h1 {
    font-size: 2.2rem;
  }

  .app-message {
    font-size: 14px;
    width: 100vw;
    /* height: 80px; */
    margin: 1rem;
  }

  .app-circle {
    margin: 0;
    width: 190px;
  }

  .left-side {
    left: 12px;
  }

  .right-side {
    left: 90px;
  }

  .semi-circle {
    width: 80px;
    height: 180px;
  }

  hr {
    width: 50vw;
  }

  .control {
    flex-direction: column;
  }
}
